.theme-switcher-provider {
  width: max-content;
  background: transparent !important;
}

.theme-switcher-label {
  min-width: 3.2rem;
  text-align: left;
}

@media (max-width: 32rem) {
  .theme-switcher-label {
    display: none;
  }
}
